<div class="navbar bg-neutral text-neutral-content">
    <div class="flex-1">
        <a href="{{ url_for('index') }}" class="btn btn-ghost normal-case text-xl">Home</a>
        <a href="{{ url_for('projects') }}" class="btn btn-ghost normal-case text-xl">Projects</a>
        <a href="{{ url_for('resources') }}" class="btn btn-ghost normal-case text-xl">Resources</a>
    </div>
    <div class="flex-none">
        <div class="dropdown dropdown-end">
            <label tabindex="0" class="btn btn-ghost btn-circle avatar">
          <div class="w-20 mask mask-circle">
            <img src="{{ url_for('static',filename='images/student.svg') }}" />
          </div>
        </label>
            <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52 text-accent-content">
                <li><a href="{{ url_for('profile') }}">Pofile</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </div>
    </div>
</div>